.pianoBoard {
  position: relative;
  height: 100vh;
  width: 100%;
  .notes {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}